var config = {};

<!-- cloud mongo start  -->
<!-- config.mongodb=''; -->
<!-- config.mongodb_user=''; -->
<!-- config.mongodb_password=''; -->
<!-- cloud mongo end  -->

<!-- local mongo start  -->
<!-- config.mongodb="mongodb://localhost/mydb"; -->
config.mongodb="mongodb://127.0.0.1:27017/poscrm";
<!-- local mongo end  -->

<!-- mongodb api authentication start -->
config.mongodb_authentication = false;
<!-- this is the zzure app id url of registered app-->
config.mongodb_audience = '';
<!-- mongodb api authentication end -->

config.mssql = {
    user: 'sa',
    password: 'sasa@123',
    server: 'WOHUP\MSSQLSERVERDEV', // You can use 'localhost\\instance' to connect to named instance
    database: 'Data2017_QC',
 
    options: {
        encrypt: true // Use this if you're on Windows Azure
    }
}


module.exports = config;