<div class="container">
  <div *ngIf='mode'>
  <h1>Event Listing</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="actionEvent()" #bookForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="events.name" name="isbn" required>
        </div>
        <div class="form-group">
          <label for="name">Paid To</label>
          <input type="text" class="form-control" [(ngModel)]="events.PaidTo" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Existing Amount</label>
          <input type="number" class="form-control" [(ngModel)]="events.existingAmount" name="author" required>
        </div>
        <div class="form-group">
          <label for="name">New Amount</label>
          <input type="number" class="form-control" [(ngModel)]="events.NewAmount" name="published_year" required>
        </div>
        <div class="form-group">
          <label for="name">Sub Total</label>
          <input type="text" class="form-control"  name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Paid To</label>
          <input type="text" class="form-control" [(ngModel)]="events.area" name="name" required>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" [(ngModel)]="events.address" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Primary Mobile Number</label>
          <input type="text" class="form-control" [(ngModel)]="events.primaryMobile" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Secondary MobileNumber</label>
          <input type="text" class="form-control" [(ngModel)]="events.secondaryMobile" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <input type="text" class="form-control" [(ngModel)]="events.description" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Status</label>
          <input type="checkbox" class="form-control" [(ngModel)]="events.status" name="status" required>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" [disabled]="!bookForm.form.valid" (click)="actionEvent()">Save</button>
          <button type="button" class="btn btn-success" [disabled]="!bookForm.form.valid" (click)="sendMessage();">Send SMS</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>

<div class="container">
  <h1>Transaction List
    <a  class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"(click)="mode='add';"></span>
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Paid To</th>
        <th>Primary Mobile Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.name }}</td>
        <td>{{ transaction.PaidTo }}</td>
        <td>{{ transaction.primaryMobile }}</td>
        <td>
          <!-- <a routerLink = "/book-details/{{book._id}}" class="btn btn-default btn-lg">Show Details</a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>